.c-mobile {
  // basic styles
  display: block;

  @include bp(480px) {
    display: none;
  }
}

.c-mobile--menu {
  @extend .c-mobile;
  float: left;
}

.c-mobile--lang {
  @extend .c-mobile;
  float: right;
}

.sub-bar {
  background: blue;
}