<div id="menu">
	<div id="mobile-menu-button"></div>
	<div id="menu-navbar" class="mobile-navbar"></div>
	<div id="logo"></div>
	<div id="mobile-lang-button"></div>
	<div id="lang-navbar" class="mobile-navbar"></div>
	<div id="right-navbar">
		<a href="#">BLOG</a>
		<a href="#">ABOUT</a>
		<a href="#">EN</a> | <a href="#">中</a>	
	</div>
</div>
