
<div style="display: none">
	<svg> <symbol id="zhong1"> {{> cn-logo }} </symbol> </svg>
	<svg> <symbol id="zhong2"> {{> cn-logo-2 }} </symbol> </svg>
</div>

<div class="c-menu">
	<div class="c-menu--first-bar">
		<div id="menubar" class="c-mobile--menu l-mobile-menu jsMobileMenu">
			<button ref=".jsMenuSubBar">h</button>
		</div>
		<div class="o-logo">
			<a href="#" class="svg">
				{{> svg-logo }}
			</a>
		</div>
		<div id="langbar" class="c-mobile--lang l-mobile-menu jsMobileMenu">
			<button ref=".jsLangSubBar">l</button>
		</div>
		<div class="c-web--right-navbar">
			<a href="#">BLOG</a>
			<a href="#">ABOUT</a>
			<a href="#" class="svg"> {{> en-logo }}</a> | 
			<a href="#" class="svg cn-logo"> 
				<svg class="zhong1"><use xlink:href="#zhong1" x="0" y="0" /></svg>
				<svg class="zhong2"><use xlink:href="#zhong2" x="0" y="0" /></svg>
			</a>
		</div>
	</div>

	<div class="c-menu--second-bar">
		<div class="c-sub-bar--menu jsMenuSubBar">
			<a href="#">BLOG</a>
			<a href="#">ABOUT</a>
		</div>
		<div class="c-sub-bar--lang jsLangSubBar">
			<a href="#">EN</a> 
			<a href="#">中</a>
		</div>
	</div>


	
</div>
