{{> _head }}

{{> _header }}

<div class="c-main">
  <div class="c-hero" style="background-image: url('/images/testscreen.png');"></div>
  <div class="wrap">
    <div class="o-block"><a href="#" style="background-image: url('/images/blocks/promo_iphone_large_2x.jpg')">1st block</a></div>
    <div class="o-block"><a href="#" style="background-image: url('/images/blocks/promo_watch_large_2x.jpg')">2nd block</a></div>
    <div class="o-block"><a href="#" style="background-image: url('/images/blocks/promo_iphone_large_2x.jpg')">3rd block</a></div>
    <div class="o-block"><a href="#" style="background-image: url('/images/blocks/promo_watch_large_2x.jpg')">4th block</a></div>
  </div>
</div>

<div class="c-footer">

</div>

{{> _foot }}